@charset "UTF-8";

body {
    background-color: rgb(205, 178, 231);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: blueviolet;
}
h1#principal {
    text-align: center;
    background-color: violet;
    color: white;
}


h2{
    color: rgb(70, 12, 124);
}
.basico {
color: yellow;
}

.intermediario{
color: tomato;
}

.avancado {
color: blue;
}

.destaque {
    background-color: rgba(128, 255, 0, 0.301);
}
